<p id="notice"><%= notice %></p>

<h1>Api Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_items.each do |api_item| %>
      <tr>
        <td><%= link_to 'Show', api_item %></td>
        <td><%= link_to 'Edit', edit_api_item_path(api_item) %></td>
        <td><%= link_to 'Destroy', api_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Item', new_api_item_path %>
