<div class="column is-6 is-offset-2">
  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label class="label is-small">GTIN</label>
      <div class="control">
        <%= form.text_field :gtin, class: 'input is-small', disabled: product.persisted? %>
      </div>
    </div>

    <div class="field">
      <label class="label is-small">Brand</label>
      <div class="control">
        <%= form.text_field :brand_name, class: 'input is-small' %>
      </div>
    </div>

    <div class="field">
      <label class="label is-small">Name</label>
      <div class="control">
        <%= form.text_field :name, class: 'input is-small' %>
      </div>
    </div>

    <% (product.properties.keys.map(&:to_sym) - PropertySet::ALL.keys).each do |key| %>
      <%= render 'property_field', product: product, key: key %>
    <%- end -%>

    <section>
      <%- if PropertySet::NUTRITION_FACTS.keys.none? { |key| product.properties[key.to_s].present? } -%>
        <%= link_to 'Add nutrition facts', nil, class: 'property-set-link', data: { target: 'nutrition-facts' } %>
      <%- end -%>

      <div id="nutrition-facts">
        <h3>Nutrition Facts</h3>
        <% PropertySet::NUTRITION_FACTS.keys.each do |key| %>
          <%= render 'property_field', product: product, key: key %>
        <%- end -%>
      </div>
    </section>

    <section>
      <%- if PropertySet::INGREDIENTS.keys.none? { |key| product.properties[key.to_s].present? } -%>
        <%= link_to 'Add ingredients', nil, class: 'property-set-link', data: { target: 'ingredients' } %>
      <%- end -%>

      <div id="ingredients">
        <h3>Ingredients</h3>
        <% PropertySet::INGREDIENTS.keys.each do |key| %>
          <%= render 'property_field', product: product, key: key %>
        <%- end -%>
      </div>
    </section>

    <section>
      <%- if PropertySet::PUBLISHING_DETAILS.keys.none? { |key| product.properties[key.to_s].present? } -%>
        <%= link_to 'Add publishing details', nil, class: 'property-set-link', data: { target: 'publishing_details' } %>
      <%- end -%>

      <div id="publishing_details">
        <h3>Publishing Details</h3>
        <% PropertySet::PUBLISHING_DETAILS.keys.each do |key| %>
          <%= render 'property_field', product: product, key: key %>
        <%- end -%>
      </div>
    </section>

    <section>
      <%- if PropertySet::PACK_DETAILS.keys.none? { |key| product.properties[key.to_s].present? } -%>
        <%= link_to 'Add pack details', nil, class: 'property-set-link', data: { target: 'pack_details' } %>
      <%- end -%>

      <div id="pack_details">
        <h3>Pack Details</h3>
        <% PropertySet::PACK_DETAILS.keys.each do |key| %>
          <%= render 'property_field', product: product, key: key %>
        <%- end -%>
      </div>
    </section>

    <div class="actions">
      <%= form.submit class: "button is-primary" %>
    </div>

    <p>
    By submitting changes, you agree to release your contribution
    under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 1.0 Universal</a>
    </p>
  <% end %>
</div>
