
<div class="column is-10 is-offset-1">
  <div class="columns">
    <div class="column">
      <%= form_tag(products_path, method: :get) do %>
        <div class="field">
          <div class="control">
            <div class="field is-medium">
              <%= text_field_tag :query, params[:query], class: 'input is-small', placeholder: 'Search' %>
            </div>
          </div>
        </div>
      <%- end -%>
    </div>
    <div class="column">
      <div class="is-pulled-right">
        <%= link_to_prev_page @products, "< Prev", params: params, class: "button is-small" %>
        <%= link_to_next_page @products, "Next >", params: params, class: "button is-small" %>
      </div>
    </div>
  </div>

  <p><%= humanize_product_count(@products.total_count) %></p>

  <table class="table is-striped">
    <thead>
      <tr>
        <th>GTIN</th>
        <th>Name</th>
        <th>Brand</th>
      </tr>
    </thead>
    <tbody>
      <%- @products.each do |product| -%>
      <tr>
        <td><%= link_to product.gtin, product_path(product) %></td>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.brand_name %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>

  <div class="colums">
    <div class="column">
      <div class="is-pulled-right">
        <%= link_to_prev_page @products, "< Prev", params: params, class: "button is-small" %>
        <%= link_to_next_page @products, "Next >", params: params, class: "button is-small" %>
      </div>
    </div>
  </div>
</div>
