<p><%= product_count(@products) %></p>

<%= render 'search_form' %>

<table class="table">
  <thead>
    <tr>
      <th>GTIN</th>
      <th>Name</th>
      <th>Brand</th>
    </tr>
  </thead>
  <tbody>
    <%- @products.each do |product| -%>
    <tr>
      <td><%= link_to product.gtin, product_path(product) %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.brand_name %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>

<%= paginate(@products) %>
