
<div class="mx-auto max-w-7xl px-4 sm:px-6">

  <div class="container m-auto grid grid-cols-2">
    <div class="sm:block">
      <%= form_tag(products_path, method: :get) do %>
        <div class="field">
          <div class="control">
            <div class="field is-medium">
              <%= text_field_tag :query, params[:query], class: 'input is-small', placeholder: 'Search' %>
            </div>
          </div>
        </div>
      <%- end -%>
      <p class="mt-2 text-sm text-gray-700"><%= humanize_product_count(@pagy.count) %></p>
    </div>
    <div>
      <div class="flex flex-1 justify-between sm:justify-end divide-y divide-gray-200">
        <%- if @pagy.next.present? || @pagy.prev.present? %>
          <div class="mt-4 flex justify-center"><%== pagy_nav(@pagy) %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">GTIN</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Brand</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <%- @products.each do |product| -%>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= link_to product.gtin, product_path(product) %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link_to product.name, product_path(product) %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.brand_name %></td>
              </tr>
              <%- end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
