<!DOCTYPE html>
<html>
  <head>
    <title>Brocade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/favicon' -%>
    <%# <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/analytics' if Rails.env.production? %>
  </head>

  <body>
    <%= render 'layouts/navbar' -%>
    <div class="container">
      <%= render 'layouts/wip_warning' -%>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' -%>
  </body>
</html>
