<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Brocade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/favicon' -%>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <div class="relative overflow-hidden bg-gray-50">
      <div class="relative pt-6 pb-16 sm:pb-24">
        <%= render 'layouts/navbar' %>
        <%#= render 'layouts/wip_warning' -%>
        <%# NOTE: required by Devise - needs rework %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>

  </body>
</html>
