<!DOCTYPE html>
<html>
  <head>
    <title>Brocade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/favicon' -%>
    <%# <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag("application") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/analytics' if Rails.env.production? %>
  </head>
  <body>
    <div class="container">
      <%# NOTE: required by Devise - needs rework %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%#= render 'layouts/footer' -%>
  </body>
</html>
